/* Importa la fuente Poppins de Google Fonts.*/
* {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
    margin: 0;
    padding: 0; /* Reinicia los márgenes y rellenos a cero para todos los elementos.*/
  }
  
  body {
    font-family:"Poppins", sans-serif; /* Establece la fuente Poppins como la fuente predeterminada para el cuerpo.*/
  }
  
  html {
   scroll-behavior: smooth; /*Establece el comportamiento de desplazamiento del HTML como suave.*/
  }
  
  p {
    color: rgb(85, 85, 85); /*Establece el color del texto de los párrafos en negro.*/
  }
  
   a,
   .btn {
   transition: all 300ms ease; /* Establece una transición de 300 milisegundos para todos los enlaces y botones.*/

  }
  
  nav,
  .nav-links{
    display: flex; /* Establece la navegación como un elemento flexible.*/

  }

  nav {
justify-content: space-around;/* Justifica el contenido de la barra de navegación horizontalmente y lo alinea verticalmente en el centro.*/
align-items: center;/* se utiliza para alinear los elementos de la barra de navegación en el centro. Esto significa que los enlaces de navegación estarán centrados horizontalmente y verticalmente en la barra de navegación.*/
height: 17vh;  /* Establece la altura de la barra de navegación en 17vh.*/
  }

  .nav-links{
    gap:2rem; /*  Establece un espacio de 2rem entre los enlaces de navegación.*/
   list-style: none;/*  Elimina el estilo de lista de los enlaces de navegación.*/
   font-size: 1.5rem;/*  Establece el tamaño de fuente de los enlaces de navegación en 1.5rem.*/
  }

  a {
    color: black; /* Establece el color del texto de los enlaces de navegación en negro.*/
    text-decoration: none;/* Elimina la decoración del texto de los enlaces de navegación.*/
    text-decoration-color:white ;/*  Establece el color de la decoración del texto de los enlaces de navegación en blanco.*/
  }

  a:hover {
    color: grey;/*  Establece el color del texto de los enlaces de navegación cuando se pasa el cursor sobre ellos en gris.*/
    text-decoration: underline;/*  Agrega una línea inferior al texto de los enlaces de navegación cuando se pasa el cursor sobre ellos.*/
    text-underline-offset: 1rem; /* se utiliza para establecer la distancia entre el texto y el borde inferior de la línea inferior de los enlaces de navegación en 1rem. Esto significa que la línea inferior estará a 1rem por debajo del texto.*/
    text-decoration-color: rgb(181, 181, 181);/* Establece el color de la línea inferior del texto de los enlaces de navegación en rgb(181, 181, 181).*/
  }

  .logo {
    font-size: 2rem; /* Establece el tamaño de fuente del logotipo en 2rem.*/
  }

  .logo:hover{
    cursor: default;/* Establece el cursor del logotipo en predeterminado cuando se pasa el cursor sobre él.*/
  }

  #hamburger-nav {
    display: none;/* Establece el menú hamburguesa como oculto inicialmente.*/
  }

.hamburger.menu{
  position: relative;/* establece el icono del menú hamburguesa en una posición relativa a su padre. Esto significa que el icono del menú hamburguesa se colocará en el lugar que le indique su estilo, pero no se moverá con el resto del contenido de la página.*/
  display: inline-block;/*  establece el icono del menú hamburguesa como un elemento en línea-bloque. Esto significa que el icono del menú hamburguesa se comportará como un elemento en línea, pero tendrá un ancho y un alto definidos.*/
}

.hamburger.icon{
  display: flex;/* Establece el icono del menú hamburguesa como un elemento flexible.*/
  justify-content:space-between; /* se utiliza para alinear los elementos de la barra de navegación en el eje principal. Esto significa que los enlaces de navegación se distribuirán uniformemente entre los bordes izquierdo y derecho de la barra de navegación.*/
  flex-direction: column; /* se utiliza para establecer la dirección de los elementos de la barra de navegación en vertical. Esto significa que los enlaces de navegación se colocarán uno debajo del otro.*/
  height: 24px;/* Establece la altura del icono del menú hamburguesa en 24px.*/
  width: 30px; /* Establece el ancho del icono del menú hamburguesa en 30px.*/
  cursor: pointer; /* Establece el cursor del icono del menú hamburguesa en puntero.*/
}

.hamburger.icon span{
  width: 100%; /*  Establece el ancho de cada span en el icono del menú hamburguesa en 100%.*/
  height: 2px;/* Establece la altura de cada span en el icono del menú hamburguesa en 2px.*/
  background-color: black;/*Establece el color de fondo de cada span en el icono del menú hamburguesa en negro.*/
  transition: all 0.3 ease-in-out;/* se utiliza para establecer una transición de 0,3 segundos para todos los enlaces y botones. Esto significa que los cambios en las propiedades CSS de los enlaces y botones se realizarán de forma gradual, creando un efecto de animación.*/
}

.menu-links{
  position: absolute;/* Este estilo establece el posicionamiento del contenedor de enlaces de menú en absoluto. Esto significa que el contenedor se posicionará relativo a su antepasado más cercano con un contexto de posicionamiento (generalmente el elemento padre).*/
  top:100%;/* Este estilo coloca el borde superior del contenedor de enlaces de menú a 100% por debajo de su elemento padre. Esto oculta efectivamente el contenedor inicialmente.*/
  right: 0; /* Este estilo coloca el borde derecho del contenedor de enlaces de menú al ras con el borde derecho de su elemento padre. Esto alinea el contenedor con el lado derecho del padre.*/
  background-color: white;/* Este estilo establece el color de fondo del contenedor de enlaces de menú en blanco.*/


  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
list-style: none;
}

.menu-links.open {
max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
opacity: 0;
}

.hamburger-icon.open span:last-child{
transform: rotate(45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child{
  transform: none;
}

/* secciones */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* seccion del perfil */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* iconos */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* botones */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background:rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(53, 53, 53);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1 rem solid;
}

.btn-container {
  gap: 1rem;
}

/* Acerca de mi */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container{
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
padding: 1.5rem;
flex: 1;
background: white;
border-radius: 2rem;
border: rgb(53, 53, 53) 0.1rem solid;
border-color: rgb(163, 163, 163);
text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* seccion de experiencia */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
text-align: initial;
flex-wrap: wrap;
flex-direction: row;
gap: 2.5rem;
justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* seccion de proyectos*/

#projects {
  position: relative;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* contacto */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-conatiner p {
  font-size: large;
}

.conatact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* seccion de pie de pagina */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

